.login_section
    border: 1px solid #000
    width: 30%
    display: flex
    text-align: center
    align-items: center
    flex-direction: column

    .login_input_text
        display: inline-block
        width: 75px