.num_section
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: calc(100vh - 60px)
    background-color: #f5f5f5
    box-sizing: border-box
    margin-top: 50px

    .num_title
        font-size: 3em
        margin-bottom: 20px

    .numbers
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%

        .number_row
            display: flex
            flex-direction: row

            .number
                display: flex
                justify-content: center
                align-items: center
                width: 44px
                height: 44px

                box-sizing: border-box
                box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15)

                border-radius: 5%

                margin: 4px 10px 4px 10px

                &:hover
                    cursor: pointer
                    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2)

                &:active
                    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1)

                &.active
                    background-color: #6e6e6e
                    color: #fff
                    border: 1px solid #6e6e6e
                    border-radius: 10%
                    box-sizing: border-box
            .fix_number
                background-color: #37df61
            .exclude_number
                background-color: #e63131

    
    .num_selects
        width: 30%
        margin-top: 30px
        display: flex
        flex-direction: column
        .select_btn
            display: flex
            align-content: center
            justify-content: center
            align-items: center
            text-align: center

            

            width: 80px
            height: 60px
            border-radius: 0.25rem

            box-shadow: 1px 1px 2px 1px #00000014
            margin-bottom: 10px

            &:hover
                cursor: pointer
                box-shadow: 2px 2px 3px 2px #00000020

            &:active
                box-shadow: 1px 2px 2px 1px #00000010

            
        .select_fe
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-between

            div
                width: 40%

            .fix_btn
                order: 1
                
            .fix_active
                color: white
                background-color: #37df61

            .save_img
                order: 2

            
            .exclude_btn
                order: 3

            .exclude_active
                color: white
                background-color: #e63131
            
        .sel_random
            width: 100%
            .select_btn
                width: 100%

                

